<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newthinktank.censusapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.newthinktank.censusapp.ContactListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- NEW 
        Make ContactViewPager an Activity over CensusApp 
        <activity
            android:name="com.newthinktank.censusapp.CensusApp"
            android:label="@string/app_name" >
        </activity>
        
 END OF NEW -->

<!-- NEW -->
        
       <activity
            android:name="com.newthinktank.censusapp.ContactViewPager"
            android:label="@string/app_name" >
        </activity>

<!-- END OF NEW -->
        
    </application>

</manifest>